asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==5.2.15
django-parler==2.4
django-ratelimit==4.1.0
django-resized==1.0.3
django-rosetta==0.10.3
dnspython==2.8.0
email-validator==2.3.0
idna==3.18
pillow==12.3.0
polib==1.2.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
django-resized
django-ratelimit
email-validator
gunicorn