{% load i18n static %}
<div class="container">
    <div class="row text-center pt-5 pb-4">
       <div class="col-md-10 mx-md-auto">
          <h1 class="word-rotator slide font-weight-bold text-7 text-sm-8 mb-3 appear-animation primary-font" data-appear-animation="fadeInUpShorter">
             <span>{% trans 'Palace Karimi is a brand that is' %} </span>
             <span class="word-rotator-words" style="background-color: #D97706; color: #FAF8F4; border-radius: 6px; padding: 5 10px;">
                <b class="is-visible">{% trans 'Authentic' %}</b>
                <b>{% trans 'High Quality' %}</b>
                <b>{% trans 'Global' %}</b>
             </span>
             <span> {% trans 'and a secure choice for export.' %}</span>
          </h1>
          <p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" style="color: #1C1C1C;">
             {% trans 'With years of experience in cultivation, processing, and exporting the finest Iranian saffron and pistachio, we offer quality and authenticity to global markets. All our products are packaged and shipped with international standards.' %}
          </p>
       </div>
    </div>
</div>
