{% load i18n static %}
<style>
   #ContactExperts {
      color: #000000 !important
   }

   html.dark #ContactExperts {
      color: #ffffff !important
   }
</style>
<div class="home-intro bg-primary" id="home-intro">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-8">
            <p class="text-color-light">
               {% trans 'Experience a secure purchase with the top exporter of authentic Iranian products' %}
               <span class="sub-text text-color-light opacity-7">{% trans 'Demand the best quality saffron and pistachio from us.' %}</span>
            </p>
         </div>
         <div class="col-lg-4">
            <div class="get-started text-left text-lg-right">
               <a href="https://wa.me/989967971048" class="btn btn-light btn-lg text-3 font-weight-semibold px-4 py-3"
                  id="ContactExperts">{% trans 'Contact Experts' %}</a>
               <div class="learn-more text-color-light">{% trans 'or' %} <a href="{% url 'catalog:shop' %}"
                     class="text-color-light" style="text-decoration: underline;">{% trans 'view products.' %}</a></div>
            </div>
         </div>
      </div>
   </div>
</div>