{% load static i18n %}
<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
    <div class="home-concept mt-5 mb-5">
        <div class="container">
            <div class="row text-center align-items-center">
                <span class="sun custom-concept-sun"></span>
                <span class="cloud"></span>
                <div class="col-lg-2 ml-lg-auto z-index-1">
                    <div class="process-image">
                        <img src="{% static 'img/home/concept-harvest.webp' %}" alt="Harvest">
                        <strong class="custom-concept-label">{% trans 'Harvesting' %}</strong>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mt-lg-0 z-index-1">
                    <div class="process-image process-image-on-middle">
                        <img src="{% static 'img/home/concept-processing.webp' %}" alt="Processing">
                        <strong class="custom-concept-label">{% trans 'Processing' %}</strong>
                    </div>
                </div>
                <div class="col-lg-2 mt-4 mt-lg-0 z-index-1">
                    <div class="process-image">
                            <img src="{% static 'img/home/concept-packaging.webp' %}" alt="Packaging">
                        <strong class="custom-concept-label">{% trans 'Packaging' %}</strong>
                    </div>
                </div>
                <div class="col-lg-4 ml-lg-auto mt-1 mt-lg-0 z-index-1">
                    <div class="project-image">
                        <div id="fcSlideshow" class="fc-slideshow">
                            <ul class="fc-slides">
                                <li><a href="{% url 'catalog:shop' %}"><img class="img-responsive" src="{% static 'img/home/export-1.webp' %}" alt="Export"></a></li>
                                <li><a href="{% url 'catalog:shop' %}"><img class="img-responsive" src="{% static 'img/home/export-1.webp' %}" alt="Export"></a></li>
                                <li><a href="{% url 'catalog:shop' %}"><img class="img-responsive" src="{% static 'img/home/export-1.webp' %}" alt="Export"></a></li>
                            </ul>
                        </div>
                        <strong class="our-work custom-concept-our-work">{% trans 'Global Export' %}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>