{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans 'About Us' %} | {% trans 'Palace Karimi' %}{% endblock %}
{% block content %}
<div role="main" class="main">
    {% include 'includes/about_header.html' %}
    {% include 'includes/about_intro.html' %}
    {% include 'includes/about_introduce.html' %}
    {% include 'includes/about_vision_certificates.html' %}
    {% include 'includes/about_history.html' %}
    {% include 'includes/about_team.html' %}
</div>
{% endblock %}